.service-grid {
    margin: 30px 0;
    background: #02398c;
    padding: 40px;
}
.contact-section {
    margin: 20px 0;
    padding: 20px;
}
.service-section {
    padding: 40px;
    margin: 30px 0;

}
.cnc {
    margin-right: 300px;
}
/* .serv {
    jus: center;
    /* margin-left: 250px; */

 */
.side-row1 {
    margin-bottom: 20px;
    margin: end;
}

.before {
    text-align: end;
    color: lightblue;
}
.side-row1 {
    margin-bottom: 8px;
    text-align: end;
}

/* .row-conc {
    text-align: start;
} */
.service-content {
    border: 1px solid black;
    width: 200px;
    padding: 10px;
    margin-top: 10px;
}
.service1 {
    text-align: center;
}
.service-content img {
    text-align: center;
}

.service-content h5 {
    text-align: center;
}
.service-content p {
    text-align: center;
}
.service-img {
    text-align: center;
}
.row2 {
    margin-top: 10px;
}

.service-content1 {
    text-align: center;
    color: white;
    padding: 60px;
}
.service-content1 a {
    color: white;
    text-decoration: none;
}
.client-section {
    background: beige;
    margin: 30px 0 0 0;
    padding: 40px;
}
.ser {
    padding: 20px;
    text-align: center;
}
.cont {
    padding: 20px;
    text-align: center;
}
.footer-im {
    margin-bottom: 10px;
}
.footer-im li {
    margin-bottom: 5px;
    text-align: start;
    list-style: none;
}
.footer-im i {
    margin-bottom: 10px; 
    color: yellow;
    display: inline-block;  
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 100%;
    background: black;  
    gap: 20px;
}
.footer-im img {
    width: 30px;
}
.footer-content li {
    list-style: none;
    margin-bottom: 5px;
}
.footer-section {
    background: #02398c;
    color: white;
    padding: 40px;
    /* margin-top: 30px; */
}
.footer-content1 {
    margin-top: 40px;
}
.footer-content1 li {
    list-style: none;
    margin-bottom: 5px;
}
.offer-content {
    
    border: 1px solid white;
    padding: 20px;
    display: inline-block;
    border-radius: 10px;
}
.contact-us h4 {
    margin-bottom: 15px;
}
.copyright-sec {
    background-color: #003789;
    color: white;
    padding: 10px;
    border-top: 1px solid  #003789;
    
}
.copyright-sec1 {
    text-align: center;
}
/* .tower-image img {
    margin-bottom: 20px;
} */
.project-info {
      /* display: flex; */
      
      /* flex-wrap: wrap; */
      margin-top: 20px;
      margin-bottom: 20px;
    }
    .frame-con {
        display: inline-block;
        text-align: end;
    } 
     .frame-con h2 {
        display: inline-block;
     }

     .frame-content {
        text-align: start;
     }
      .second-cont {
        margin-top: 20px;
      }
     .second-cont h2 p {
        display: inline-block;

     }
@media(min-width: 320px) and (max-width: 575px) {
    .tower-image img {
        width: 100%;
    }
     .cont img {
        margin-bottom: 25px;
    }
}
@media(min-width: 768px) and (max-width: 991px) {

   .tower-image img {
        width: 100%;
    }
    
}

@media(min-width: 992px) and (max-width: 1200px) {
    
    .tower-image img {
        width: 100%;
    }
    
}