boody {
    padding: 0;
    margin: 0;
}

.facebook {
    width: 30px;
    height: 30px;
    line-height: 30px;
    background-color: black;
    text-align: center;
    border-radius: 100%;
    color: white;
}
.twitter {
     width: 30px;
    height: 30px;
    line-height: 30px;
    background-color: black;
    text-align: center;
    border-radius: 100%;
    color: white;
}
.google {
     width: 30px;
    height: 30px;
    line-height: 30px;
    background-color: black;
    text-align: center;
    border-radius: 100%;
    color: white;
}
.linkedin {
     width: 30px;
    height: 30px;
    line-height: 30px;
    background-color: black;
    text-align: center;
    border-radius: 100%;
    color: white;
   
    
}
.linkedin i {
    opacity: 0;
}
.linkedin i:hover {
    opacity: 1;
}
.facebook i {
    opacity: 0;
}
.facebook i:hover {
    opacity: 1;
}
.google i {
    opacity: 0;
}
.google i:hover {
    opacity: 1;
}
.twitter i {
    opacity: 0;
}
.twitter i:hover {
    opacity: 1;
}

.expert-handyman {
    /* margin: 30px 0; */
    background: black;
    color: white;
    padding: 40px;
}
.expert-content {
    padding: 20px;
    
}
.expert-content2{
    align-items: center;
   
}
.expert-imge  {
    text-align: center;
}


.experience-section {
    margin: 0 0 30px 0;
    background: beige;
    padding: 40px;
}
.exp-content {
    text-align: center;
}
.choose-section {
    margin: 30px 0;
    padding: 40px;
}
.side-image img {
    width: 400px;
    /* height: 400px; */
    /* margin-left: ; */

}
.row-content {
    margin:40px 0 0 0;
}


.borderrr h2 {
    position: relative;
    display: inline-block;
}
/* .border h2  {
    position: absolute;
} */
.h2-cls h2::after {
content: "";
position: absolute;
width: 100%;
bottom: -6px;
border-bottom: 3px solid black;
left: 0;
}

.borderrr h3 {
    position: relative;
    display: inline-block;
}
/* .border h2  {
    position: absolute;
} */
.h2-cls h3::after {
content: "";
position: absolute;
bottom: -2px;
left: 0px;
text-align: center;
width: 100%;
height: 3px;
background-color: black;
}

.service-section {
    padding: 40px;
    margin: 30px 0;
    background: whitesmoke;

}
.service1 h3 {
    
    margin-bottom: 20px;
}
.service-content {
    border: 1px solid black;
    padding: 20px;
    margin-top: 10px;
}
.service1 {
    text-align: center;
    margin-bottom: 20px;
}
.btn-cls {
    margin-top: 30px;
}
.service-content img {
    text-align: center;
}

.service-content h5 {
    text-align: center;
}
.service-content p {
    text-align: center;
}
.service-img {
    text-align: center;
}
.row2 {
    margin-top: 10px;
}


.service-content1 {
    text-align: center;
    color: white;
    padding: 60px;
}
.service-content1 a {
    color: white;
    text-decoration: none;
}
.client-section {
    background: beige;
    margin: 30px 0 0 0;
    padding: 40px;
}
.ser {
    padding: 20px;
    text-align: center;
}
.cont {
    padding: 20px;
    text-align: center;
}
.project-section {
    margin: 30px 0;
    /* padding: 40px; */
}
.project-image {
    /* margin-left: 250px; */
    text-align: center;
   
}
.project-tt
{
    text-align: center;
}
.project-image img {
    width: 800px;
    /* height: 500px; */
}
.problem-section {
    background: black;
    margin: 30px 0;
    color: white;
    padding: 40px;
}
.prblm-ct {
    align-items: center;

    
}
.footer-im li {
    margin-bottom: 5px;
    text-align: start;
    list-style: none;
}
.footer-im img {
    width: 30px;
}
.footer-content li {
    list-style: none;
    margin-bottom: 5px;
}
.footer-section {
    background: #02398c;
    color: white;
    padding: 20px;
    /* margin-top: 20px; */
}
.footer-content1 {
    /* margin-top: 40px; */
}
.footer-content1 li {
    list-style: none;
    margin-bottom: 5px;
    
}
.offer-content {
    border: 1px solid white;
    padding: 15px;
    display: inline-block;
    border-radius: 10px;
    text-align: center;
    
}
.footer-im i {
    margin-bottom: 10px; 
    color: yellow;
    display: inline-block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border-radius: 100%;
    background: black;
    gap: 20px;
    
}
.list-styling i {
   width: 20px;
}
.contact-us h4 {
    margin-bottom: 15px;
}

.image-cls img{
    width: 400px;
}
.cls-service1:hover {
    background: black;
    color: white;
    

}
.copyright-sec {
    background-color: #003789;
    color: white;
    padding: 10px;
    border-top: 1px solid  #003789;
    
}
.copyright-sec1 {
    text-align: center;
}





@media(min-width:320px) and (max-width: 575px) {

    .expert-imge img {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
    .expert-content2 {
       margin-top: 20px;

    }
  .exp-content {
    margin-bottom: 10px;
}
    .experience-section {
        text-align: center;
    }
     .cls-service {
        margin-bottom: 20px;
        width: 100%;
    }
    .cls-prblm {
        text-align: center;
    }
    .client-images {
        margin-bottom: 20px;
    }
   
    .image-cls img {
        width: 100%;
        text-align: center;
    }
    .project-image img {
        width: 100%;
        margin-bottom: 10px;
    }
    .side-image img {
        width: 100%;
        margin-bottom: 20px;
    }
    .borderrr {
        margin-bottom: 10px ;

    }
     iframe {
        width: 100%;
    }
    .h2-cls h2 {
        margin-top: 10px;
    }
    .borderrr h2 {
    margin-bottom: 20px; 
}
    .footer-im i{
        /* width: 100%; */
        /* text-align: start; */
        
    }
}
@media(min-width: 576px) and (max-width:767px) {
    .expert-imge img {
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }
    .expert-content2 {
       margin-top: 20px;
        text-align: center;
    }
     .experience-section {
        text-align: center;
    }
    .cls-service {
        margin-bottom: 20px;
    }
    .image-cls img {
        width: 100%;
        text-align: center;
    }
    .project-image img {
        width: 100%;
    }
    .side-image img {
        width: 100%;
        
    }
     iframe {
        width: 100%;
    }
    .borderrr {
        margin-bottom: 10px ;

    }
    .row-content {
        justify-content: center;
        
    }
    .h2-cls h2 {
        margin-top: 10px;
    }
    .footer-im i{
        width: 100%;
        text-align: start;
        
    }

}

@media(min-width: 768px) and (max-width:991px) {
     iframe {
        width: 100%;
    }
     .side-image img {
        width: 100%;
        text-align: center;
        
    }
    .cls-choose-sec {
          width: 100%;
       
    }
     .project-image img {
        width: 100%;
    }
    .expert-content2 {
      
        align-items: center;
    }
}

@media(min-width: 992px) and (max-width: 1200px) {
    .side-image img {
        width: 100%;
        text-align: center;
        
    }
    .cls-choose-sec {
       width: 100%;
    }
}