 body {
    margin: 0;
  min-height: 100vh;
    background: linear-gradient(black,blueviolet);

 }
 
 .back {
        /* text-align: center; */
        background-color: white;
        display: inline-block;
        padding: 30px;
        margin-top: 10%;
        margin-left: 40%;
        border-radius: 10px;
        
    }
    #to-add {
        display: flex;
        gap: 10px;
        /* text-align: center; */
        justify-content: center;
        align-items: center;
       

    }
    #input {
        border: none;
        outline: none;
        padding: 10px 40px;
        border-radius: 10px;
        /* text-align: center; */
        background: aliceblue;
    }

    #list {
        margin-top: 20px;
        text-align: end;
        list-style: none;
        /* display: flex;
        gap: 10px; */
    }
    .li-items{
        background-color: whitesmoke;
        border-radius: 20px;
        margin-top: 10px;
        padding: 5px;
        display: flex;
        /* justify-content: space-between; */
        gap: 10px;
    }
    .li-items li {
        font-size: 50px;
        padding: 10px 40px;
        
        
    }
   
    .btn {
        background-color: green;
        color: whitesmoke;
        padding: 5px 20px;
        font-weight:500;
    }

    .del-button {
    padding: 8px 10px;
    background: aquamarine;
    border-radius: 5px;
    font-weight: 500;
    color: blueviolet;
    text-align: end;
    border: none;
}
.editBtn{
    padding: 8px 10px;
    border-radius: 5px;
    border: none;
    background-color: black;
    color: white;
}
    /* .btn:hover {
        background-color: red;
    } */