 body {
    background: aqua;
 }
 
 .back {
        /* text-align: center; */
        background-color: white;
        display: inline-block;
        padding: 30px;
        margin-top: 23%;
        margin-left: 40%;
        border-radius: 10px;
        
    }
    #to-add {
        display: flex;
        gap: 10px;
        /* text-align: center; */
        justify-content: center;
        align-items: center;
       

    }
    #input {
        padding: 10px;
        border-radius: 10px;
        text-align: center;
    }

    #list {
        /* margin-top: 25%; */
        margin-top: 20px;
        /* text-align: center; */
        list-style: none;
    }
    .li-items {
        background-color: whitesmoke;
        border-radius: 20px;
        margin-top: 10px;
        text-align: left;
        padding: 10px;
    }
    .btn {
        background-color: green;
        color: whitesmoke;
        padding: 10px;
        font-weight:500;
        
    }
    .del-button {
    
    padding: 5px;
    background: aquamarine;
    border-radius: 10px;
    font-weight: 600;
    color: blueviolet;
}
    /* .btn:hover {
        background-color: red;
    } */