.conntact-form {
    margin-top: 50px;
}

.conatct-content {
  
   padding: 20px;
}
.contact-grp {
    display: inline-block;
     background: whitesmoke;
     padding: 40px;
     font-weight: 200;
}
.input-val {
    margin-bottom: 10px;
}
.contact-grp input {
    padding: 5px;
}
.btn {
    padding: 10px;
   
}
.btn input {
    padding: 5px;
    width: 100px;
    background: black;
    color: white;
    font-weight: 300;
    border-radius: 10px;

}
.btn input:hover {
    background-color: aliceblue;
    color: black;
}
.contact-grp:hover {
    background: rgb(99, 205, 100);
    color: white;

}
select {
    padding: 3px;
}